[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
pyyaml = "*"
anthropic = "*"
python-dotenv = "*"
ipywidgets = "*"
tiktoken = "*"

[dev-packages]
ipykernel = "*"
nbconvert = "*"

[requires]
python_version = "3.14"
