[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
pyyaml = "*"
anthropic = "*"
python-dotenv = "*"
ipywidgets = "*"
tiktoken = "*"
openai = "*"
numpy = "*"
langchain = "*"
langchain-anthropic = "*"
langchain-openai = "*"
langchain-text-splitters = "*"
langgraph = "*"
langsmith = "*"

[dev-packages]
ipykernel = "*"
nbconvert = "*"

[requires]
python_version = "3.14"
